<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} | Actor's Profile</title>
    <link rel="stylesheet" href="{{ stylesheet }}">
</head>
<body>
    <main>
        <header>
            <h1 class="uppercase">Actor's Profile</h1>
        </header>
        <section class="primary">
            <img src="{{ profile_image }}" alt="Actor's headshot" height="192" width="192">
            <div>
                <h2>Personal Information</h2>
                <h3 class="uppercase">{{ name }}</h3>
                <address>
                    <ul>
                        <li>Address : <span>{{ address }}</span></li>
                        <li>Contact Number : <a href="sms:{{ contact_number }}"><span>{{ contact_number }}</span></a></li>
                        <li>E-mail : <a href="mailto:{{ email }}"><span>{{ email }}</span></a></li>
                    </ul>
                </address>
            </div>
        </section>
        <div class="secondary">
        <section>
            <h2>Credits</h2>
            <!-- TODO: Add table of acting credits, if applicable -->
        </section>
        <section>
            <h2>Trainings & Workshop</h2>
            <!-- TODO: Add table of trainings and workshops, if applicable -->
        </section>
        <section>
            <h2>Skills</h2>
            <!-- TODO: Add list of skills, if applicable -->
        </section>
        </div>
    </main>
</body>
</html>